*{
	font-family: 	Sitka Small,Sitka Heading,Georgia,Times New Roman;
	text-align:		center;
}

body {
	margin: 		auto;
	width: 			950px;
	overflow-x: 	hidden;
	background:		black;
}

h1,h2{
	margin: 		0px;
}

hr {
	height:				2px;
	border-width:		0px;
	color:				gray;
	background-color:	gray;
	width:				80%;
}

.title{
	margin-bottom: 	0px;
	font-size:		350%;
}

table {
	width:	100%;
}

input[type=search]{
	height:		30px;
	font-size:	110%;
}

table tr td a{
	font-size:	105%;
}

iframe {
	text-align: center;
	border:		0px;
	height:		450px;
	width:		100%;
}

#nav a img{
	height:		225px;
	width:		33.3%;
	float:		left;
}

#info {
	font-size:		125%;
	font-weight: 	bold;
}

#featArtist {
	background:	grey;
}

#info tr td img {
	display: 		block;
    margin:			8px;
	height:			250px;
	width:			90%;
	border:			8px solid white;
	border-radius: 	8px;
	float: 			left;
}

#emailform {
	background:	black;
	color:		white;
}

#emailform form input[type=email]{
	width:		500px;
	height:		40px;
	font-size:	200%;
}

#emailform form input[type=submit]{
	background:		yellow;
	width:			200px;
	height:			50px;
	font-weight:	bold;
	font-size:		200%;
	border:			3px solid yellow;
	border-radius: 	8px;
}

footer {
	background: black;
	color:		white;
}

a:link {color: white; text-decoration: none;}
a:hover {color: white;}
a:visited {color: white;}

#signin,#reset{
	width:	350px;
}

#signin form p a:link,#reg form p a:link, #fix{
	color:blue; 
	text-decoration: underline;
}

form p input, form table tr td input{
	height: 30px;
	width:	250px;
}

form button[type=submit]{
	background:	#444444;
	color:		white;
	height: 	30px;
	width:		250px;
}

#reg{
	width:	800px;
}
/*
a.inline:link {color:blue; text-decoration: underline;}
a.inline:hover {color:blue;}
a.inline:visited {color:blue;}
*/