*{
	font-family: 	Sitka Heading,Sitka Small,Georgia,Times New Roman;
	text-align:		center;
}

body {
	margin: 		auto;
	width: 			900px;
	background:		black;
	overflow-x: 	hidden;
}

h1,h2{
	margin: 0px;
}

hr {
	height:				2px;
	border-width:		0px;
	color:				gray;
	background-color:	gray;
	width:				95%;
}

.title img{
	height:	60px;
	width:	300px;

}

#top{	
	border-bottom:	3px solid goldenrod;
}

#emailform,#nav img,#info1,#info2,#info3{
	padding-top:	25px;
	padding-bottom:	25px;	
	border-bottom:	3px solid goldenrod;
}

table {
	width:	100%;
}

form input[type=search]{
	height:		30px;
	font-size:	18px;
}

.seperator {
	color: white;
}

table tr td a, .seperator{
	font-size:	20px;
}

#nav img{
	height:			240px;
	width:			32%;
	float:			left;
	padding-left:	5px;
	padding-right:	5px;
}

#emailform {
	background:		black;
	color:			white;
	padding:		20px 0px 20px 0px;	
}

#emailform  p{
	font-size:	25px;
	margin-top:	0px;
}

strong{
	font-size:	50px;
	margin:		0px;
}

#emailform form input[type=email]{
	width:		500px;
	height:		40px;
	font-size:	25px;
}

#emailform form input[type=submit]{
	background:		gold;
	color:			white;
	width:			225px;
	height:			46px;
	font-weight:	bold;
	font-size:		28px;
	border:			3px solid goldenrod;
}

footer {
	background: black;
	color:		white;
}

a:link {
	color: 			white; 
	text-decoration:none;
}
a:hover {
	color: 			white; 
	text-decoration:underline;
}
a:visited {
	color: white;
}

#signin,#reset{
	width:		100%;
}

.inline.fix,.iframe.fix{
	color:				blue; 
	text-decoration:	underline;
}

form p input, form table tr td input{
	height: 	30px;
	width:		250px;
	font-size:	18px;
}

form button[type=submit]{
	border:		1px solid #444444;
	background:	#444444;
	font-size:	18px;
	color:		white;
	height: 	30px;
	width:		250px;
}

#reg{
	width:	800px;
	font-size:	115%;
}

#info1 table, #info2 table, #info3 table{
	padding:		20px;
	background: 	white;
	color:			black;
	width:			80%;
	margin-left: 	auto;
    margin-right: 	auto;
}

#info1 table tr td p, #info3 table tr td p{
	text-align:		left;
	vertical-align: top;
	width:			400px; 
	height:			auto;
	font-size:		18px;
}

#info2 table tr td p{
	text-align:	right;
	vertical-align: top;
	width:		400px; 
	height:		auto;
	font-size:	18px;
}

#info1 table tr td h1, #info3 table tr td h1{
	text-align:	left;
	height:		auto;
}

#info2 table tr td h1{
	text-align:	right;
	height:		auto;
}

#info1 table tr td img, #info2 table tr td img, #info3 table tr td img{
	max-width:	350px; 
	max-height:	300px;
}
